

.auth-title {
    background-color: green;
    border-radius:25px;
    width:150px;
    
    color:red !important;
}
.auth-title:hover{
    cursor: pointer;
    transform:translateY(0.5s);
}
.verify-title {
    color:red!important;
    font-size: 28px;
}

.errorMessage-auth {
    position: relative;
    box-sizing: border-box;
    color:rgb(3, 3, 49);
    font-size: 20px;
    font-weight: 500;
    top: 2.3em;
    background-color: white;
    border-radius: 5px;
    width:450px;
    justify-content: center;
}

.successMessage-auth {
    position: relative;
    box-sizing: border-box;
    color: rgb(3,3,49);
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    top: 2.3em;
    width:450px;
    justify-content: center;
}
.manualFormOpenBtn
{
    background-color: green;
    border-radius:25px;
    height:25px;
    color:red;
    font-size:larger;
}
.manualFormOpen
{
    color:black;
}